<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex justify-center my-8">
  <div class="flex flex-col w-1/2 ">
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Login" formControlName="login" />
      <mat-error>
        <app-mat-error [control]="form.get('login')"></app-mat-error>
      </mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="form.invalid" class="mt-2" mat-flat-button color="primary">Submit</button>
  </div>
</form>


<app-result *ngIf="filteredData?.items.length>0 && !isError" [data]="filteredData"></app-result>



<div *ngIf="filteredData?.total_count==0 " class="flex justify-center items-center mt-8 flex-col ">
  <mat-chip-list>
    <mat-chip color="warn" selected>No record found</mat-chip>
  </mat-chip-list>
  <div class="mt-4">
    Try to modify the filter to see the records here!
  </div>
</div>
<div *ngIf="isError" class="flex justify-center items-center mt-8 flex-col ">
  <mat-chip-list>
    <mat-chip color="warn" selected>Exception</mat-chip>
  </mat-chip-list>
  <div class="mt-4">
    We are unable to process the request, Please try again later.
  </div>
</div>
<div *ngIf="isLoading">
  <app-skeleton-user-grid></app-skeleton-user-grid>

</div>